In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [7]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

#Tree test

In [23]:
features = df[['Pclass', 'Fare', 'Age', 'Sex']]
target = df['Survived']

In [24]:
nulls = np.sum(features.isnull(), axis = 1)
filt = np.sum(features.isnull(), axis = 1) == 0

In [25]:
features = features[filt]
target = target[filt]

In [30]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(features['Sex'])
features['Sex'] = le.transform(features['Sex'])
features.head()

             Pclass     Fare  Age  Sex
PassengerId
1                 3   7.2500   22    1
2                 1  71.2833   38    0
3                 3   7.9250   26    0
4                 1  53.1000   35    0
5                 3   8.0500   35    1

In [31]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=241)
clf.fit(features, target)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=241, splitter='best')

In [32]:
importances = clf.feature_importances_

In [34]:
print zip(importances, features.columns.values)

[(0.1400052185312419, 'Pclass'), (0.30423785006093607, 'Fare'), (0.25524472044958257, 'Age'), (0.30051221095823943, 'Sex')]