In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv('titanic.csv',  index_col='PassengerId')

In [5]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

#1 Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [6]:
df['Sex'].value_counts()

male      577
female    314
dtype: int64

#2 Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен)

In [31]:
print df['Survived'].value_counts()

100 * 342./(549 + 342)

0    549
1    342
dtype: int64

38.38383838383838

#3 Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [13]:
100 * df['Pclass'].value_counts() / float(df.shape[0])

3    55.106622
1    24.242424
2    20.650954
dtype: float64

#4 Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [37]:
a = np.mean(df['Age'])
b = np.median(df['Age'])

print "%0.2f %0.2f" % (a, b)

29.70 32.00

In [36]:
np.median(df['Age'])

32.0

#5 Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch

In [18]:
import scipy.stats

In [20]:
# Prints tuple (corrcoef, p-value)
scipy.stats.pearsonr(df['SibSp'], df['Parch'])

(0.41483769862015613, 2.2418236681397381e-38)

#6 Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [34]:
female_names = df[df['Sex'] == 'female']['Name']
print female_names

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, dtype: object

In [25]:
first_name = female_names.apply(lambda s : s.strip().split(' ')[2])

In [28]:
first_name.value_counts()

William      13
Anna          9
Mary          9
Margaret      6
Elizabeth     6
John          6
Thomas        6
Frederick     5
Alice         5
Helen         4
Ellen         4
James         4
Bertha        4
Edward        4
Mrs.          3
Samuel        3
Hanora        3
Joseph        3
Charles       3
Kate          3
Annie         3
Katherine     3
Henry         3
Marion        2
Marjorie      2
Mabel         2
George        2
Emily         2
Alexander     2
Marija        2
             ..
Katie         1
Amy           1
Dorothy       1
Hjalmar       1
Dickinson     1
Laura         1
Hilda         1
Norman        1
Countess.     1
Laina         1
(Marion       1
Kristina      1
Adele         1
(Lutie        1
Helmina       1
Ann           1
Ethel         1
Gerda         1
Kornelia      1
Harriet       1
Carl          1
Stella        1
Jamila        1
Nourelain     1
Karl          1
Eva           1
Henriette     1
Robina        1
Jeannie       1
Richard       1
dtype: int64

24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
19.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
35.00    18
27.00    18
26.00    18
16.00    17
31.00    17
33.00    15
20.00    15
34.00    15
23.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
4.00     10
50.00    10
2.00     10
47.00     9
         ..
40.50     2
10.00     2
13.00     2
45.50     2
64.00     2
71.00     2
70.00     2
30.50     2
0.83      2
63.00     2
59.00     2
57.00     2
55.00     2
0.75      2
0.42      1
53.00     1
70.50     1
14.50     1
0.92      1
74.00     1
36.50     1
80.00     1
12.00     1
55.50     1
34.50     1
24.50     1
66.00     1
23.50     1
0.67      1
20.50     1
dtype: int64

In [39]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64